<?xml version="1.0" encoding="UTF-8" ?> 
<Module>
  <ModulePrefs title="<%= @title %>" height="400" width="400"/> 
  <Content type="url" href="https://<%= @subdomain %>.<%= DOMAIN %>/home/map/<%= params[:id]%>"/>
</Module>