<td valign="top">
  <a href="javascript:toggleMap();" title="Expand map view" id="toggler_link"><img src="/images/collapse.png" border="0" id="toggler" /></a>                
</td>
       
<td width="50%" valign="top" id="right_panel">
  <div class="report_map_header">Locations for <%= @device.name%></div> 
  <div id="map" class="reports_map" ></div>                 
</td>
